table.form-table td span.spacer {
    display: inline-block;
    width: 12px;
}

span.axis3-widget-tooltip {
    float: right;
}

span.axis3-widget-required:after {
    content: '*';
    color: rgb(255, 0, 0);
}

.axis3-field-widget.hidden {
    display: none;
}

.axis3-field-widget.axis3-classic-editor-widget {
    width: 97%;
}

.text.axis3-datepicker-widget {
    width: 160px;
}

.axis3-field-widget.axis3-google-map-widget .address-field-label,
.axis3-field-widget.axis3-kakao-map-widget .address-field-label {
    display: inline-block;
    width: 7%;
}

.axis3-field-widget.axis3-google-map-widget .address-field,
.axis3-field-widget.axis3-kakao-map-widget .address-field {
    width: 73%;
}

.axis3-field-widget.axis3-google-map-widget > div:nth-child(2),
.axis3-field-widget.axis3-kakao-map-widget > div:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 6px;
}

.axis3-checkbox-radio {
    margin: 0;
}

.axis3-checkbox-radio.horizontal > li {
    float: left;
    margin: 0;
}

.axis3-checkbox-radio.horizontal > li:not(:last-child) {
    margin-right: 16px;
}

.axis3-checkbox-radio.horizontal > li:last-child {
    margin-right: 0;
}

@media screen and  (max-width: 782px) {
    .text.axis3-datepicker-widget {
        width: 180px !important;
        display: inline-block !important;
    }

    .button.axis3-datepicker-widget {
        height: 36px !important;
    }
}