table.form-table td span.spacer {
    display: inline-block;
    width: 12px;
}

span.axis3-widget-tooltip {
    float: right;
}

span.axis3-widget-required:after {
    content: '*';
    color: rgb(255, 0, 0);
}

.axis3-field-widget.axis3-classic-editor-widget {
    width: 97%;
}