table.form-table td span.spacer {
    display: inline-block;
    width: 12px;
}

span.axis3-widget-tooltip {
    float: right;
}

span.axis3-widget-required:after {
    content: '*';
    color: rgb(255, 0, 0);
}

.axis3-field-widget.axis3-classic-editor-widget {
    width: 97%;
}

.axis3-field-widget.axis3-google-map-widget .address-field-label {
    display: inline-block;
    width: 7%;
}

.axis3-field-widget.axis3-google-map-widget .address-field {
    width: 73%;
}

.axis3-field-widget.axis3-google-map-widget > div:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 6px;
}